.home-header {
    min-height: 100vh;
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}

.home-header-hero {
    width: 100%;
    max-width: 60%;
    margin: 5% auto;
    padding: 15px;
}

.home-header-title {
    text-align: center;
    font-family: 'DM Serif';
    font-size: 80px;
    color: var(--text-primary-color);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

.home-header-description {
    text-align: center;
    font-family: 'Fredoka';
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-primary-color);
    margin-top: 16px;

}

.home-header-search {
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 40px;
    height: 40vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: var(--text-primary-color);
    font-size: 20px;

}

.home-header-search-title {
    font-family: 'DM Serif';
    font-size: 32px;
    color: var(--text-yellow);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.8);
}

.home-header-search-bar {
    width: 100%;
    height: 70px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin-top: 16px;
    display: flex;
}

.home-header-search-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.home-header-search .btn-group {
    margin-left: 16px;
}

.home-meals-container {
    width: 80%;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

input {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 16px;
    color: var(--text-primary-color);
    font-size: 20px !important;
    font-family: 'Raleway' !important;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgba(255,255,255,0.5);
}

button {
    background-color: transparent;
    color: var(--text-primary-color);
    border: none;
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 20px !important;
    font-family: 'Raleway' !important;
    width: 200px;
    cursor: pointer;
}

button:hover, button.active {
    background-color: var(--text-yellow);
    color: #777
}

.btn-group {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
}

.filter-btn {
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    width: 180px;
    padding: 8px 0;
}

.btn-group .filter-btn:first-child {
    border-left: none;
}


/* Meal Style */
.meal-container {
    width: calc(100% / 3);
    padding: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.meal-content {
    box-shadow: 3px 5px 10px rgba(0,0,0,0.5);
}

.meal-img {
    display: flex;
}

.meal-name {
    padding: 16px;
    text-align: center;
    font-family: 'DM Serif';
    background-color: var(--color-brown);
    color: white;
    font-size: 24px;
}

.meal-img img {
    width: 100%;
    aspect-ratio: 4 / 2.5;
    object-fit: cover;
}

.meal-container:hover {
    transform: scale(1.03);
}

/* Header */
.header {
    padding: 20px;
    font-size: 32px;
    color: var(--color-brown);
    font-family: 'DM Serif';
}

.detail-header {
    background-color: var(--color-brown-dark);
    display: flex;
    flex-wrap: wrap;
}

.detail-left {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}

.detail-left img {
    width: 100%;
    object-fit: cover;
}

.detail-right {
    width: 65%;
    padding: 48px;
}

.detail-title {
    font-family: 'DM Serif';
    font-size: 40px;
    color: var(--text-yellow);
}

.detail-body {
    background-color: var(--color-brown-light);
    display: flex;
    flex-wrap: wrap;
}

.detail-description {
    color: var(--text-primary-color);
    font-size: 20px;
    white-space: pre-wrap;
    font-family: 'Fredoka';
    line-height: 1.5;
    margin-top: 36px !important;
}

.detail-content {
    margin-top: 16px;
}

.detail-content-item {
    color: var(--text-primary-color);
    font-size: 20px;
    font-family: 'Fredoka';
    padding: 4px 0;
}

.detail-body-content {
    width: 90%;
}

.detail-video {
    width: 100%;
}
